PORT=5000
MONGO_URI=
JWT_SECRET=
JWT_REFRESH_SECRET=

LOG_LEVEL=debug
NODE_ENV=development

JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

JOBS_ENABLED=true
JOBS_INTERVAL_MINUTES=10

# Cleanup rules
TOKEN_STALE_MINUTES=240
TOKEN_RETENTION_DAYS=30
TOKEN_RETENTION_DELETE_ENABLED=true

TZ=Asia/Colombo